body{
    font-family: 'Noto Serif', serif;
    margin: 0; 
}
h1{
    font-weight: 900;
}

.gold-color{
    color: gold ;
}
.flexible-container{
    display: flex;
   margin-bottom: 100px;
}
#for-margin,p,h1,h3,a{
margin-left: 25px;
}

.half-width {
    width: 50%;
    margin-left: 2%;
    margin-right: 20px;
}
.half-width p{
    line-height: 35px;
    
}

#rm_pic{
    width: 50%;
    margin-right: 2%;
}


.half-width img{
    width: 70%;
    margin-left: 70px;
    margin-top: 15px;
}

.link-button{
    text-decoration: none;
    width: 40px;
    padding:10px 10px;
    background-image:linear-gradient(cyan,gray,indigo) ;
    color: white;
    border-radius: 5px;
    
}
 .top-banner{
    background-image: url(prac-images/top-banner.png);
    background-repeat: no-repeat;

} 

    .big-player-banner{
        background-image: url(prac-images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
.experience-area{
    display: flex;
    margin-right:3%;
   
}
.manu-text .real-madrid-text  p{
    line-height: 25px;
}
.manu-text h2{
    color:red;
    text-shadow:5px 5px 5px grey;
}
.manu-text{
    box-shadow:10px 10px 40px grey;
    padding: 15px;
     border-left: 5px solid;
    border-right: 5px solid;
    border-image: linear-gradient(red,gray,red,gray);
    border-image-slice: 1;
    margin-bottom: 100px;
    height: 550px;
 
}
.manu-text p::first-letter{
    color: red;
    text-shadow:3px 3px 1px gray;
    font-size: xx-large;
}

.real-madrid-text h2{
    color: grey;
    text-shadow:5px 5px 5px gray;
}
.real-madrid-text{
    box-shadow:10px 10px 30px grey;
    padding: 15px;
     border-left: 5px solid;
    border-right: 5px solid;
    border-image: linear-gradient(cyan,gray,cyan,gray);
    border-image-slice: 1;
    margin-bottom: 100px;
    height: 550px;
}
.real-madrid-text p::first-letter{
    color: grey;
    text-shadow:3px 3px 2px gray;
    font-size: xx-large;
}

.expare-banner{
    background-image: url(prac-images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: top left; 
}


#manu-logo{
    background-image: url(prac-images/manu-logo.png);
   background-repeat: no-repeat;
   background-position:top right ;
}
#real-madrid-logo{
    background-image: url(prac-images/real-madrid-logo.png);
    background-repeat: no-repeat;
    background-position: top right;
}
footer p{
    text-align: center;
} 


footer p span{
    font-weight: 700;
    color: indigo;
    text-shadow: 10px 10px 8px grey;
}